@{
    var error = TempData["Error"] as string;
    var message = TempData["Message"] as string;
}

@if (!string.IsNullOrEmpty(error))
{
    <div class="alert alert-danger">
        @error
    </div>
}

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-success">
        @message
    </div>
}
