@model IEnumerable<BlogEntryViewModel>

@{
    ViewData["Title"] = "WebGoat.NetCore Blog";
}

@await Html.PartialAsync("_StatusMessage")

<h1>WebGoat.NetCore Blog</h1>

<div>
    @foreach (var blogEntryViewModel in Model)
    {
        <div class="blogEntry">
            <partial name="_BlogEntryPartial" model="blogEntryViewModel" />

            @if (blogEntryViewModel.Responses != null && blogEntryViewModel.Responses.Count > 0)
            {
                <div class="blogResponseTitle">Responses</div>
            }

            @if (blogEntryViewModel.Responses != null)
            {
                foreach (var response in blogEntryViewModel.Responses)
                {
                    <div class="blogResponse">
                        @* remove raw.html to mitigate XSS *@
                        <div class="blogResponseContents">@response.Contents</div>
                        @if (response.BlogEntry != null)
                        {
                            <div class="blogResponseSignature">@response.BlogEntry.Author - @response.BlogEntry.PostedDate</div>
                        }
                    </div>
                }
            }

            <a class="button blogRespondButton"
            asp-action="Reply"
            asp-route-entryId="@blogEntryViewModel.Id">
                Respond
            </a>
        </div>
    }
</div>