@model WebGoatCore.ViewModels.BlogResponseViewModel

@{
    ViewData["Title"] = "Respond";
}

@await Html.PartialAsync("_StatusMessage")

@if (Model?.BlogEntry != null)
{
    <partial name="_BlogEntryPartial" model="Model.BlogEntry" />
}
else
{
    <div class="alert alert-danger">
        The blog entry you are trying to respond to does not exist.
    </div>
}

<h1>Your response</h1>

@if (Model?.BlogEntry != null)
{
    <form asp-action="Reply"
          asp-route-entryId="@Model.BlogEntryId"
          method="post">
        @Html.AntiForgeryToken()

        @* BlogEntryId bruges til at binde viewmodel på serveren *@
        <input asp-for="BlogEntryId" type="hidden" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Contents"></label>
            <textarea asp-for="Contents"
                      class="form-control BlogEntryReplyText"
                      rows="3"></textarea>
            <span asp-validation-for="Contents" class="text-danger"></span>
        </div>

        <br />

        <a asp-action="Index" class="btn btn-link" style="float: left;">Cancel</a>
        <input type="submit"
               value="Submit Response"
               class="btn btn-primary"
               style="float: right;" />
    </form>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}