@model WebGoatCore.ViewModels.BlogResponseViewModel

@{
    ViewData["Title"] = "Respond";
}
@await Html.PartialAsync("_StatusMessage")

@if (Model.BlogEntry != null)
{
    <partial name="_BlogEntryPartial" model="Model.BlogEntry" />
}

<h1>Your response</h1>

<form asp-action="Reply" method="post">
    @* hidden field to protect against CSRF attacks *@
    @* hidden field to send BlogEntryId *@
    <input asp-for="BlogEntryId" type="hidden" />

    <div class="form-group">
        <label asp-for="Contents"></label>
        <textarea asp-for="Contents" class="form-control BlogEntryReplyText" rows="3"></textarea>
        <span asp-validation-for="Contents" class="text-danger"></span>
    </div>

    <br />

    <a asp-action="Index" style="float: left;">Cancel</a>
    <input type="submit" value="Submit Response" style="float: right;" class="btn btn-primary" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}